<ion-view view-title="Sobre">
  <ion-content class="padding">
    <h1 class="text-center">MeEmpresta</h1>

    <h3 class="text-center">MeEmpresta é um sistema de controle de empréstimos pessoais.</h3>
    <h4 class="text-center">Este projeto foi desenvolvido como trabalho de conclusão da disciplina de Projeto Integrador II - FACAM</h4>
    <h5 class="text-center"><b>Autor:</b> Willian Mano</h5>
    <h5 class="text-center"><b>Contato:</b> willianmanoaraujo@gmail.com</h5>
  </ion-content>
</ion-view>
